.table {
  width: 1200px;
  border-collapse: collapse;
  background-color: var(--color-white);
  text-align: center;
  margin-bottom: 40px;
  margin: auto;
  margin-top: 40px;
  box-shadow: var(--shadow-small);
}

.thead {
  color: var(--color-white);
  background-color: var(--color-accent);
  text-transform: uppercase;
  font-size: 24px;
}

.td {
  padding: 10px;
  border: 1px solid var(--color-gray);
  color: var(--color-dark);
  font-size: 24px;
  font-weight: 500;
}

.th {
  padding: 10px;
  border: 1px solid var(--color-gray);
  color: var(--color-white);
  font-weight: 600;
}

.tr {
  &:nth-of-type(odd) {
    background-color: var(--color-light);
  }
}
